#container {
    min-width: 800px;
    width: 80%;
    margin: 0px auto;
}
header{
    height: 198px;
    border-bottom: 2px solid black;
}
content {
    width: 100%;
    float: left;
    min-width: 500px;
    min-height: 800px;
}

footer {
    clear: both;
    text-align: right;
    padding: 5px 10px;
    border-top: 2px solid black;
}

aside {
    border-right: 2px solid black;
    margin-right: 80%;
    height: 800px;
}

.img{
    float: right;
    padding-bottom: 0px;
}

.name {
    margin-top: 15px;
    float: left;
}